.resume {
  padding: 20px;
}

.resume h2 {
  color: #333;
}

.resume p {
  margin-bottom: 10px;
}

.resume a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.resume a:hover {
  background-color: #555;
}

.resume ul {
  list-style-type: none;
  padding: 0;
}

.resume ul li {
  margin-bottom: 5px;
}
